<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="lightBackground">
    <header>
      <nav class="darkBackground flexC">
        <div class="flexH">
          <a href="http://localhost:3001/" class="navLink lightText">Home</a>
          <a href="http://localhost:3001/dashboard" class="navLink lightText">Dashboard</a>
          <a href="http://localhost:3001/login" class="navLink lightText">Login</a>
          <a href="" class="navLink lightText">Logout</a>
        </div>
        
    {{{body}}}
  </body>

</html>