<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="lightBackground">
    <header>
      <nav class="darkBackground flexC">
        <div class="flexH">

          {{#if user}}
          <a href="/" class="navLink lightText">Home</a>
          <a href="/dashboard" class="navLink lightText">Dashboard</a>
          <a href="/auth/logout" class="navLink lightText">Logout</a>
          {{else}}
          <a href="/" class="navLink lightText">Home</a>
          <a href="/login" class="navLink lightText">Login</a>
          <a href="/register" class="navLink lightText">Register</a>
          {{/if}}

          
         
        </div>c

        {{{body}}}
  </body>

</html>