     <a href="/dashboard">
      <div id="logo" class="lightBackground">
        <h2 class="darkText">Your Dashboard</h2>
      </div>
    </a>
  </nav>
</header>
<div id="dashboard-container" class="flexC dashboardPost">
{{#each posts}}
<a href="/editPost/{{id}}">
<section class="flexH align-center greyPost">
  <div>
  {{title}}
  </div>
  <div>
  {{date}}
  </div>
</section>
</a>
{{/each}}
</div>
<div class="button-container">
<a href="/post">
<button class=" darkBackground" id="newPostBTN">+ New Post</button>
</a>
</div>
