<a href="/">
  <div id="logo" class="lightBackground">
    <h2 class="darkText">The Tech Blog</h2>
  </div>
</a>
</nav>
</header>
{{#each posts}}
<div class="post flexC">
  <div class="postHeader lightText darkBackground flexH">
    <h4>{{title}}</h4>
    <p class="postedBy">Posted by {{author.username}} on {{date}}</p>
  </div>
  <h6 class="postText darkText">{{content}}</h6>
</div>
{{/each}}

