<div id="logo" class="lightBackground">
          <h2 class="darkText">The Tech Blog</h2>
        </div>
      </nav>
    </header>
<div class="post flexC">
  <div class="postHeader lightText darkBackground flexH">
    <h4>Why MVC is so important</h4>
    <p class="postedBy">Posted by Xandromus on 5/8/2020</p>
  </div>
     <h6 class="postText darkText">MVC allows developers to maintain a true separation of concerns, devising their code
        between the Model layer for data, the View layer for design, and the Controller layer for application logic</h6>
</div>

