<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="lightBackground">
<header>
  <nav class="darkBackground flexC">
    <div class="flexH">
    <a href="" class="navLink lightText">Home</a>
    <a href="" class="navLink lightText">Dashboard</a>
    <a href="" class="navLink lightText">Login</a>
    <a href="" class="navLink lightText">Logout</a>
  </div>
    <div id="logo" class="lightBackground">
      <h2 class="darkText">The Tech Blog</h2>
    </div>
  </nav>
</header>
<div class="post flexC">
  <div class="postHeader lightText darkBackground flexH">
    <h4>Why MVC is so important</h4>
    <p class="postedBy">Posted by Xandromus on 5/8/2020</p>
  </div>
  <h6 class="postText darkText">MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic</h6>
</div>  
</body>
</html>