<a href="/">
  <div id="logo" class="lightBackground">
    <h2 class="darkText">The Tech Blog</h2>
  </div>
</a>
</nav>
</header>
<form action="/auth/login" method="POST" class="post flexC">
  <div class="formHeader lightText darkBackground flexH">
    <h4>Login</h4>

  </div>
  <div class="formFields">

     {{#each errors}}
    <p class="text-center error">{{this}}</p>
    {{/each}}

    <div class="flexC">
      <label for="username" class="labelText darkText">Username</label>
      <input class="formInput" type="text" id="username" name="username" required>
    </div>
    <div class="flexC">
      <label for="password" class="labelText darkText">Password</label>
      <input class="formInput" type="password" id="password" name="password" required>
    </div>
    <div class="flexC">
      <button type="submit" class="formButton">Login</button>
      <a class="formInstead" href="/register">Sign Up Instead!</a>
    </div>
  </div>
</form>