/* RESETS */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

header a {
  color: #d9e9d4;
}


/* GLOBAL CLASSES */
.text-center {
  text-align: center;
}

.align-items {
  align-items: center;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.flexH {
  display: flex;
}

/* Nav */
nav {
  background-color: #210f0d;
}